<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="engineer_v4">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import engineer_v4 urdf file -->
    <xacro:include filename="$(find engineer_description)/urdf/engineer_v4.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="engineer_v4.ros2_control.xacro" />


    <xacro:engineer_v4_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
