<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="engineer_v7">
  <link
    name="base_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.00021481 0.0018535 0.057337"
        rpy="0 0 0" />
      <mass
        value="2.1" />
      <inertia
        ixx="0.0011115"
        ixy="4.3686E-07"
        ixz="-1.0782E-05"
        iyy="0.0016989"
        iyz="8.4001E-06"
        izz="0.0012571" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.14614 -0.00014615 0.1938"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-1.345E-05 0.1949 -0.025277"
        rpy="0 0 0" />
      <mass
        value="1.3" />
      <inertia
        ixx="0.0054198"
        ixy="1.8584E-08"
        ixz="-1.6807E-08"
        iyy="0.00059311"
        iyz="1.6851E-05"
        izz="0.0058167" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0.075"
      rpy="1.5708 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.3358"
      upper="2.0644"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.050612 1.2904E-05 -0.062034"
        rpy="0 0 0" />
      <mass
        value="0.9" />
      <inertia
        ixx="0.00048526"
        ixy="-4.3035E-08"
        ixz="5.6867E-06"
        iyy="0.00055415"
        iyz="5.0253E-08"
        izz="0.00058003" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 0.33 0"
      rpy="3.1416 0 -1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.8277"
      upper="2.8277"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.00027014 -0.0043901 0.20898"
        rpy="0 0 0" />
      <mass
        value="0.7" />
      <inertia
        ixx="0.00076152"
        ixy="4.9474E-08"
        ixz="1.3776E-06"
        iyy="0.000784"
        iyz="5.4255E-10"
        izz="0.00017336" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0 -0.0582"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.00016564 -0.02146 0.00040222"
        rpy="0 0 0" />
      <mass
        value="0.7" />
      <inertia
        ixx="0.00013162"
        ixy="1.3297E-06"
        ixz="-3.4582E-09"
        iyy="0.00020968"
        iyz="1.2332E-08"
        izz="0.00012381" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0 0.344"
      rpy="1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.7869"
      upper="1.7869"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.0005761 3.0334E-05 -0.053665"
        rpy="0 0 0" />
      <mass
        value="0.55" />
      <inertia
        ixx="0.0002377"
        ixy="-1.4744E-05"
        ixz="-4.3202E-07"
        iyy="7.506E-05"
        iyz="-2.0014E-07"
        izz="0.00027768" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.95686 0.72157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0.010695 0 -0.99994" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_finger_link">
    <inertial>
      <origin
        xyz="0.058917 -0.0014642 0.032751"
        rpy="0 0 0" />
      <mass
        value="0.275" />
      <inertia
        ixx="2.5608E-05"
        ixy="-5.9875E-08"
        ixz="2.5572E-06"
        iyy="2.7398E-05"
        iyz="8.0741E-09"
        izz="9.9196E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/right_finger_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/right_finger_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger_joint"
    type="prismatic">
    <origin
      xyz="0.0008128 0 -0.075996"
      rpy="3.1309 -0.00095972 1.4809" />
    <parent
      link="link6" />
    <child
      link="right_finger_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0.03"
      effort="0"
      velocity="0" />
    <mimic
      joint="left_finger_joint"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="left_finger_link">
    <inertial>
      <origin
        xyz="-0.059543 0.0016825 0.032751"
        rpy="0 0 0" />
      <mass
        value="0.275" />
      <inertia
        ixx="2.5608E-05"
        ixy="-5.9875E-08"
        ixz="-2.5572E-06"
        iyy="2.7398E-05"
        iyz="-7.9977E-09"
        izz="9.9196E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/left_finger_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.95686 0.72157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/left_finger_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_finger_joint"
    type="prismatic">
    <origin
      xyz="0.0008128 0 -0.075996"
      rpy="3.1309 -0.00095972 1.4809" />
    <parent
      link="link6" />
    <child
      link="left_finger_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0.03"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0.0046932 0.0038938 0.0012613"
        rpy="0 0 0" />
      <mass
        value="0.4" />
      <inertia
        ixx="0.00012686"
        ixy="-3.3584E-06"
        ixz="1.0872E-06"
        iyy="4.4923E-05"
        iyz="-9.6453E-07"
        izz="0.00014272" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://engineer_description/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cemera_joint"
    type="fixed">
    <origin
      xyz="0.012 0.065 -0.0807"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="link3" />
    <child
      link="camera_link" />
  </joint>
  <link name="tcp_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <!-- 半径设为 1cm，方便观察 -->
        <sphere radius="0.005" />
      </geometry>
      <material name="green_transparent">
        <color rgba="0 1 0 0.5" />
      </material>
    </visual>
  </link>
  <joint name="tcp_joint" type="fixed">
    <origin xyz="0 0 0.125" rpy="0 0 0" />
    <parent link="link6" />
    <child link="tcp_link" />
  </joint>
</robot>